@media only screen and (min-width: 370px) and (max-width: 399px){
  .main-panel{
    
  }
  .av-img{
    width: 330px;
    height: 420px;
  }
  .user-avatar{
    margin-top: calc(-50% - 38px);
  }
  .img-avatar{
    width: 260px;
    height: 260px;
    margin-top: 63px;
  }
  .op-avatar{
    left: 27px;
    width: 265px;
    height: 265px;
  }
  .cron-img{
    top: 50px;
  }
  .de-avatar{
    width: 230px;
    height: 100px;
    margin-top: 278px;
  }

  .detail-img{
  	width: 330px;
  }
  .img-avatar-1{
    width: 126px;
    height: 126px;
    top: 191px;
  }
  .start-btn{
    /*width: 140px;
    height: 70px;
    bottom: 40px;*/
  }
  .div-avatar{
    width: 405px;
    height: 479px;
  }
  .detail-text{
    font-size: 22px;
    top: 360px;
        width: 350px;
  }
  .share-body{
  	width: 360px;
  	height: 360px;
  }
  .img-avatar-share{
  	top: 202px;
  width: 93px;
  height: 93px;
  }
  .detail-text-share{
  	width: 360px;
  	font-size: 14px;
  }
  .detail-panel{
    top: 60px;
  }
  .share-btn{
    width: 196px;
    height: 72px;
    bottom: 60px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 420px){
  .main-panel{
    
  }
  .av-img{
    width: 330px;
    height: 420px;
  }
  .user-avatar{
    margin-top: calc(-50% - 27px);
  }
  .img-avatar{
    width: 260px;
    height: 260px;
    margin-top: 63px;
  }
  .op-avatar{
    left: 27px;
    width: 265px;
    height: 265px;
  }
  .cron-img{
    top: 50px;
  }
  .de-avatar{
    width: 230px;
    height: 100px;
    margin-top: 278px;
  }

  .detail-img{
  	width: 330px;
  }
  .img-avatar-1{
    width: 126px;
    height: 126px;
    top: 191px;
  }
  .start-btn{
    /*width: 140px;
    height: 70px;
    bottom: 40px;*/
  }
  .div-avatar{
    width: 405px;
    height: 479px;
  }
  .detail-text{
    font-size: 22px;
    top: 360px;
        width: 350px;
  }
  .share-body{
  	width: 360px;
  	height: 360px;
  }
  .img-avatar-share{
  	top: 224px;
    width: 105px;
    height: 105px;
  }
  .detail-text-share{
  	width: 360px;
  	font-size: 14px;
  }
  .share-btn{
    width: 196px;
    height: 72px;
  }
}